body {
  margin:0;
  padding:0;
  background-color: #f5f5f5;
}

#header{
  background-color:#009999;
  font-family:'Roboto',Verdana;
  font-weight:900; 
  font-size:2em;
  text-align:center;
  color:#FFFFFF;
  position:fixed;
  	top:0;
  	left:0;
  width:100%;
  z-index:10;
}

#header h1 { margin: 0 ;
	     padding-top:0px;
}

#nav a { 
  font-weight:400;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
}

#nav a:hover{
  border-bottom:3px solid #FFFFFF;
}

#nav li {
  

  list-style:none;
  display:inline-block;
  padding-right:20px;
  padding-left:20px;

}

#nav ul{
    margin:0;
    text-align:center;
    padding:0;
    
}

.content{
	position: relative;
	margin: 130px 40px 0px 40px;
  font-family:'Open Sans',Sans-Serif;
  text-align:justify;
  
  
}

#login{
	border-radius:100%;
	border:5px solid #009999;
	color:#009999;
	background-color:#f5f5f5;
	width:250px;
	height:250px;
	margin:auto;
	text-align: center;
	padding:70px;
	margin-top: 40px;
}

.title {
	font-family:'Open Sans 700',Sans-Serif;
	color:#009999;
	
}
#form{
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  margin:0 400px 0 400px;
  text-align:center;
}

.bottomBar {

	background-color:#009999;
  	font-family:'Roboto',Verdana;
  	font-weight:900; 
  	font-size:2em;
  	text-align:center;
  	color:#FFFFFF;
  	display:bottom;
	height: 30px;
}
